body { 
    background-color: white; 
    font-family: Georgia, 'Times New Roman', Times, serif; 
} 

h1 { 
    color:black; 
    text-align: center;
     font-size: xx-large; 
} 
    
section { 
    text-align: center; 
    padding: 20px; 
}